<section>
<p class = "index2">"Sometimes your best investments are the ones you don't make."</p>
<h1>Donald Trump</h1>
</section>
<section>
<form action="/stock/result" method="get">
	<input class="form"type="text" name="quote" placeholder="Enter stock code">

<button>quote me</button>
</section>