<a href="/"><button>HOME</button></a>
<a href="/stock"><button>STOCKS</button></a>
<a href="/movies"><button>FLICKS</button></a>
<p class="results"> <%= @name %> </p>
<p class="results2"> Last Trade was $<%= @quote %></p>
<p class="results2"> Change of <%= @change %>% from previous day.</p>

<%=@everything %>