<%=link_to('Home',',') %>

<a href='/text'>Text</a>
<%= link_to('Text', text_path) %>

<%= button_to('Submit to me', '/test') %>

nav>ul>li.someclass*3>a

<nav>
	<ul>
		<li><a href=""></a></li>
		<li><a href=""></a></li>
		<li><a href=""></a></li></ul></nav>