<!DOCTYPE html>
<html>
<head>
<title>Basic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<ul>
<li><a href="/home">Hui's Home is in Glebe</a>
<a href="/about">Learn About Hui</a>
<a href="/faq">Ask many FAQ's about Hui</a></li>
</ul>

<%= yield %>

</body>
</html>
