<form action="/stock" method="get">
  <input type="sign" name="abbrev" placeholder="Stock Abbreviation">
  <button>Get Stock Quote</button>
</form>

<p class="quote">The stock's latest traded price is <%= @quote %></p>

<%=@everything %>