<p class="index2">"Movies are a fad. Audiences really want to see live actors on a stage."</p>
<h1 >Charlie Chaplin</h1>
<form action="/movies/result" method="get">
	<input class="form" type="text" name="fiilm" placeholder="Enter film title">
<button>film me</button>
