<section>
<form method="post" action="/mountains/create">
  <input type="text" name="mountain[name]" autofocus placeholder ="Name">
  <input type="text" name="mountain[height]" placeholder ="Height">
  <input type="text" name= "mountain[fails]" placeholder ="Fails">
  <input type="text" name ="mountain[yfirst]" placeholder ="First Events">
  <input type="text" name ="planet[deaths]" placeholder ="Deaths">
  <button>mountain me!</button>
  </form>
</section>
<section>
  <form method="get" action="/mountains/show">
  <input type="text" name="mountain[name]" autofocus placeholder ="Name">
  <input type="text" name="mountain[province]" placeholder ="Province">
  <input type="text" name= "mountain[range]" placeholder ="Range">
  <input type="text" name ="mountain[elevation]" placeholder ="Elevation">
  <input type="text" name ="planet[image]" placeholder ="Image">
  <button>mountain me!</button>
  </form>
  </section>